:root {
    --mdc-theme-primary: #0f4ebd;
}

.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::before,
.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::after {
    background-color: rgba(120, 255, 0, 0.2);
}

#greeting-form > button {
    margin-top: 8px;
}


/* CLASSES */
.name {
    font: Roboto, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #0f4ebd;

}

.resume-section {
    text-align: center;
}

.resume-card {
    text-align: right;
    display: inline-block;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 130px;
    margin: 4px 1px;
}


/* HEADERS */
.sectionheader {
    text-align: center;
    font: Roboto, sans-serif;
    color: #0f4ebd;
}